[DEFAULT]
mqtt_broker=openchirp.andrew.cmu.edu
mqtt_broker_user=
mqtt_broker_password=
influxdb_host=openchirp.andrew.cmu.edu
influxdb_port=8086
influxdb_user=test
influxdb_password=
rest_url=http://openchirp.andrew.cmu.edu:10010/api
rest_user=
rest_password=
log_file=/var/log/mqtt-tsdb-storage-service